@use "../utilities/variables" as var;
@use "../utilities/mixins" as mx;
@use "../utilities/functions" as fn;
@use "../utilities/placeholders";

header {
  width: 100%;
}

.nav {
  @include mx.mq("sm", min) {
    padding: 4% 0;
  }
}

.nav-list {
  @extend %flex-center;
  gap: 15px;
}

.nav-link {
  @extend %flex-center;
  background: linear-gradient(
    90deg,
    fn.get-color(dark-gradient) 0%,
    fn.get-color(light-gradient) 100%
  );
  border-radius: 20px;
  font-size: calc(var.$index * 0.5);
  padding: 6px;
  width: 100%;
  height: 40px;
  transition:
    transform 0.6s ease,
    filter 0.6s ease,
    box-shadow 0.6s ease;

  @include mx.mq("interval", max) {
    display: none;
  }

  &:hover,
  &:focus {
    filter: brightness(0.9);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
