@use "../utilities/variables" as var;
@use "../utilities/mixins" as mx;
@use "../utilities/placeholders";

.hero {
  @include mx.mq("wee") {
    margin-bottom: 16%;
  }

  @include mx.mq("interval") {
    margin-bottom: 13%;
  }

  @include mx.mq("lg") {
    margin-bottom: 9%;
  }
}

.hero-list {
  @include mx.mq("interval", max) {
    max-width: 220px;
    gap: 5px;
  }
  margin: 0 auto;
  @extend %flex-center;
  flex-wrap: wrap;
  gap: 15px;
}

.hero-link {
  width: calc(8vw + 8vh);
  border-radius: 10px;
  @extend %flex-center;
  transition: transform 0.6s ease;

  &:hover,
  &:focus {
    filter: brightness(0.9);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
