@use "../utilities/mixins" as mx;
@use "../utilities/variables" as var;

.screenshots-list {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 15% 0 15%;
  display: none;
  gap: 20px;

  @include mx.mq("md") {
    display: flex;
  }
}

.screenshots-item {
  width: 100%;

  @include mx.mq("md") {
    width: calc(50% - 20px);
  }
  overflow: hidden;
}

.screenshots-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
