@charset "UTF-8";
/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

body {
  background-image: url("https://static.wixstatic.com/media/d23daf_39f78beaf2674585b690db578ea32480~mv2.jpg/v1/fill/w_1221,h_7313,al_t,q_90,enc_auto/d23daf_39f78beaf2674585b690db578ea32480~mv2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Press Start 2P", system-ui;
  color: #fff;
  background-color: #000000;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

main {
  width: 100%;
}

h1,
h2,
h3 {
  font-size: calc((1vw + 1vh) * 2);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3%;
}

p {
  font-size: calc((1vw + 1vh) * 0.7);
}

section {
  margin-bottom: 5%;
  padding: 20px;
  width: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-scroll {
  overflow: hidden;
}

.mob-btn-box {
  width: 100vw;
  height: 65px;
  background-color: #000000;
  position: relative;
  top: -1px;
  z-index: 3;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(84, 84, 84, 0.816);
  transition: opacity 0.5s ease;
}

.mob-menu-box {
  background-color: #000000;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 62px;
  padding: 80px 20px 60px;
  overflow: hidden;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 0.3s ease;
}

.mob-menu-box.is-visible {
  transform: translateY(0);
}

.mob-nuv-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 1;
}

.mob-nuv-item {
  font-size: calc((1vw + 1vh) * 0.7);
  text-transform: uppercase;
}

.mob-bg {
  position: absolute;
  top: 31px;
  right: -120px;
}

.btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(90deg, #871c1c 0%, #c42525 100%);
  box-shadow: 2px 1px 20px 0px rgb(135, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-btn {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, -150%);
  fill: #fff;
  z-index: 3;
  flex-direction: column;
  gap: 5px;
}

.line {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.top,
.bottom {
  transform-origin: center;
}

.mob-btn.active .top {
  transform: rotate(45deg) translate(5px, 5px);
}

.mob-btn.active .middle {
  opacity: 0;
}

.mob-btn.active .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

.logo-container {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  height: calc((1vw + 1vh) * 25);
}

.logo {
  position: absolute;
  top: 35px;
  left: calc((1vw + 1vh) * 1);
  width: calc((1vw + 1vh) * 17);
  height: calc((1vw + 1vh) * 20);
}

.iframe-box {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding-top: 40.25%;
  margin: 0 auto;
}

.iframe-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #871c1c 0%, #c42525 100%);
  border-radius: 20px;
  font-size: calc((1vw + 1vh) * 0.5);
  padding: 6px;
  width: 100%;
  height: 40px;
}
.nav-link:hover {
  filter: brightness(0.9);
}

.hero-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.hero-link {
  width: calc(8vw + 8vh);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
}
.hero-link:hover {
  filter: brightness(0.9);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.trailer-text-cover {
  max-width: 261px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trailer-text {
  text-align: center;
}

.trailer-titel {
  margin-top: 9%;
}

.screenshots-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  padding: 0 15% 0 15%;
}

.screenshots-item {
  width: 100%;
  overflow: hidden;
}

.screenshots-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.screenshots-img:hover {
  transform: scale(1.1);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.about-box {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 860px;
}

.about-img {
  width: 100%;
  height: 80%;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: transparent;
  box-shadow: inset 200px 200px 200px 200px rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  padding: 4%;
  border-radius: 30px;
  max-width: 1400px;
}
.features-box:not(:last-child) {
  margin-bottom: 20px;
}

.features-text-box {
  flex-grow: 1;
  max-width: 50%;
}

.features-text {
  display: block;
  max-width: 100%;
}

.features-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 4/3;
}

.partners-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-item {
  text-transform: uppercase;
  font-size: calc((1vw + 1vh) * 0.7);
}
.footer-item:hover {
  filter: brightness(0.5);
}

.footer-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
}

.footer-logo {
  transition: transform 0.3s ease;
}
.footer-logo:hover, .footer-logo:focus {
  transform: scale(1.1);
}

.footer-line::before {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 2px;
  height: 100px;
}

.footer-title {
  font-size: calc((1vw + 1vh) * 0.7);
  margin: 0;
  margin-bottom: 10px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 100%;
}

.footer-contacts-link {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, fill 0.3s ease;
}
.footer-contacts-link > svg {
  transition: transform 0.4s ease;
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  background-color: #000000;
  fill: #fff;
}
.footer-contacts-link:hover > svg, .footer-contacts-link:focus > svg {
  transform: scale(1.2);
}

.footer-text {
  font-size: calc((1vw + 1vh) * 0.4);
  margin-bottom: 15px;
}

@media only screen and (min-width: 400px){
  .logo-container {
    margin-bottom: 20px;
  }
  .logo-container {
    height: calc((1vw + 1vh) * 25);
  }
  .logo {
    width: calc((1vw + 1vh) * 21);
    height: calc((1vw + 1vh) * 21);
    left: calc((1vw + 1vh) * 2);
  }
  .hero {
    margin-bottom: 16%;
  }
  .trailer-text-cover {
    max-width: 300px;
  }
}

@media only screen and (min-width: 575.9px){
  .hero {
    margin-bottom: 13%;
  }
}

@media only screen and (min-width: 576px){
  .mob-btn-box {
    display: none;
  }
  .logo-container {
    height: calc((1vw + 1vh) * 23);
    margin-bottom: 25px;
  }
  .logo {
    width: calc((1vw + 1vh) * 23);
    height: calc((1vw + 1vh) * 23);
    top: 0;
    left: calc((1vw + 1vh) * 4);
  }
  .nav {
    padding: 4% 0;
  }
  .features-box {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 50px;
  }
  .features-img {
    max-width: 50%;
    height: 200px;
  }
}

@media only screen and (min-width: 768px){
  body {
    line-height: 2em;
  }
  .logo-container {
    height: calc((1vw + 1vh) * 30);
    margin-bottom: 50px;
  }
  .logo {
    width: calc((1vw + 1vh) * 30);
    height: calc((1vw + 1vh) * 30);
  }
  .trailer-text-cover {
    max-width: 461px;
  }
  .screenshots-list {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .screenshots-item {
    width: calc(50% - 20px);
  }
  .footer-list {
    gap: 100px;
  }
  .footer-line::before {
    height: 80px;
  }
  .footer-title {
    margin-bottom: 20px;
  }
  .footer-contacts-list {
    flex-direction: row;
    justify-content: center;
    height: auto;
  }
}

@media only screen and (min-width: 1200px){
  .logo-container {
    height: calc((1vw + 1vh) * 35);
    margin-bottom: 30px;
  }
  .logo {
    width: calc((1vw + 1vh) * 35);
    height: calc((1vw + 1vh) * 35);
  }
  .hero {
    margin-bottom: 9%;
  }
  .trailer-text-cover {
    max-width: 861px;
  }
  .features-box:not(:last-child) {
    margin-bottom: 40px;
  }
  footer {
    gap: 20px;
    padding: 25px;
  }
}

@media only screen and (max-width: 575.9px){
  .nav-link {
    display: none;
  }
  .hero-list {
    max-width: 220px;
    gap: 5px;
  }
}