<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" sizes="192x192"
        href="https://static.wixstatic.com/media/d23daf_f36903dc00434913b75589beb6da295b%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/d23daf_f36903dc00434913b75589beb6da295b%7Emv2.png"
        type="image/png">
    <link rel="shortcut icon"
        href="https://static.wixstatic.com/media/d23daf_f36903dc00434913b75589beb6da295b%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/d23daf_f36903dc00434913b75589beb6da295b%7Emv2.png"
        type="image/png">
    <link rel="apple-touch-icon"
        href="https://static.wixstatic.com/media/d23daf_f36903dc00434913b75589beb6da295b%7Emv2.png/v1/fill/w_180%2Ch_180%2Clg_1%2Cusm_0.66_1.00_0.01/d23daf_f36903dc00434913b75589beb6da295b%7Emv2.png"
        type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>In Stars and Time</title>
</head>


<body>
    <header id="header">
        <nav class="nav">

            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="../../index.html#trailer">Trailer</a></li>
                <li class="nav-item"><a class="nav-link" href="../../index.html#screenshots">Screenshots</a></li>
                <li class="nav-item"><a class="nav-link" href="../../index.html#features">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="https://presskits.armorgames.com/game/in-stars-and-time/"
                        target="_blank" rel="noopener noreferrer nofollow">Presskit</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="https://store.steampowered.com/app/1677310/In_Stars_And_Time/" target="_blank"
                        rel="noopener noreferrer no">Buy on steam</a></li>
                <li class="nav-item"><a class="nav-link" href="">Content warnings</a></li>
            </ul>
        </nav>

        <div class="mob-btn-box">
            <button class="btn mob-btn mob-open-nav" type="button">
                <svg class="line top" width="14" height="2">
                    <use href="../image/symbol-defs.svg#icon-btn-minus"></use>
                </svg>
                <svg class="line middle" width="14" height="2">
                    <use href="../image/symbol-defs.svg#icon-btn-minus"></use>
                </svg>
                <svg class="line bottom" width="14" height="2">
                    <use href="../image/symbol-defs.svg#icon-btn-minus"></use>
                </svg>
            </button>
        </div>


        <div class="mob-menu-box">

            <nav class="mob-nuv">
                <ul class="mob-nuv-list">
                    <li class="mob-nuv-item"><a class="mob-link link" href="../../index.html#trailer">Trailer</a></li>
                    <li class="mob-nuv-item"><a class="mob-link link"
                            href="../../index.html#screenshots">Screenshots</a></li>
                    <li class="mob-nuv-item"><a class="mob-link link" href="../../index.html#features">Features</a></li>
                    <li class="mob-nuv-item"><a class="mob-link"
                            href="https://presskits.armorgames.com/game/in-stars-and-time/" target="_blank"
                            rel="noopener noreferrer nofollow">Presskit</a></li>
                    <li class="mob-nuv-item"><a class="mob-link"
                            href="https://store.steampowered.com/app/1677310/In_Stars_And_Time/" target="_blank"
                            rel="noopener noreferrer no">Buy on steam</a></li>
                    <li class="mob-nuv-item"><a class="mob-link" href="">Content warnings</a></li>
                </ul>
            </nav>

            <img class="mob-bg" src="../image/mob-removebg-preview.png" alt="" width="300" height="300">
        </div>
        <div class="mob-menu is-hidden"></div>
    </header>

    <main>
        <section class="content-warnings">

            <img class="about-img"
                src="https://static.wixstatic.com/media/d23daf_3d967d7b6a184bb1a4705b7dce3ffc93~mv2.png/v1/fill/w_980,h_342,al_c,q_85,enc_auto/d23daf_3d967d7b6a184bb1a4705b7dce3ffc93~mv2.png"
                alt="" width="980" height="350">

            <div style="display: flex; flex-direction: column; align-items: center; gap: 40px; margin-top: 40px;">
                <h1>CONTENT WARNINGS</h1>
                <p>In Stars and Time contains infrequent scenes and references to subject matter that may be sensitive
                    to some individuals.
                    These include references to mental illness, trauma, self-harm, suicide, death, children in
                    peril/dying, violence, and
                    unreality.
                </p>

                <p>
                    While these are a part of the deeper emotional narrative and in most cases are infrequent or
                    entirely optional, players
                    should be mindful of their own comfort level. More in-depth information is provided below.
                </p>

                <ul style="display: flex; flex-direction: column; align-items: center; gap: 60px;">
                    <li>
                        <h3>Trauma/Mental Illness</h3>
                        <p>The protagonist's constant timeloops take a toll on their mental health, and they become more
                            depressed and sometimes
                            manic as time goes on. Their reactions are also reminiscent of PTSD symptoms.</p>

                    </li>
                    <li>
                        <h3>Death</h3>
                        <p>In all cases these are presented simply or through text (in sometimes some detail), and not
                            depicted in a visually
                            graphic way.</p>

                    </li>
                    <li>
                        <h3>Violence</h3>
                        <p>The protagonist and party are put in peril at several points throughout the story and must
                            fight. References to past
                            violent events are made, such as a character having lost an eye.</p>

                    </li>
                    <li>
                        <h3>Self-Harm/Suicide</h3>
                        <p>In optional scenes, players may decide to harm the protagonist through repeated attempts to
                            use an item on themselves.
                            This is clearly called out if this is attempted, and results in multiple clarifications and
                            warnings.</p>

                    </li>
                    <li>
                        <h3>Self-Harm/Suicide</h3>
                        <p>In optional scenes, players may decide to harm the protagonist through repeated attempts to
                            use an item on themselves.
                            This is clearly called out if this is attempted, and results in multiple clarifications and
                            warnings.</p>
                    </li>
                    <li>
                        <h3>Unreality</h3>
                        <p>The protagonist encounters hallucinations and struggles with their ability to perceive
                            reality at multiple instances
                            throughout the story.</p>

                    </li>
                </ul>

                <p>
                    Children in Peril/Dying
                    A young character is threatened and physically
                </p>
            </div>

        </section>

    </main>

    <footer>
        <ul class="footer-list">
            <li class="footer-item"><a class="footer-link"
                    href="https://store.steampowered.com/app/1677310/In_Stars_And_Time/" target="_blank"
                    rel="noreferrer noopener nofollow">Steam</a></li>
            <li class="footer-item"><a class="footer-link"
                    href="https://presskits.armorgames.com/game/in-stars-and-time/" target="_blank"
                    rel="noreferrer noopener nofollow">Press
                    kit</a>
            </li>
            <li class="footer-item"><a class="footer-link" href="https://discord.com/invite/ZzFSRUBXEC" target="_blank"
                    rel="noreferrer noopener nofollow">Discord</a></li>
            <li class="footer-item"><a class="footer-link" href="" target="_blank"
                    rel="noreferrer noopener nofollow">Contact</a></li>
        </ul>

        <div class="footer-box">
            <a class="footer-logo" data-aos="fade-right" href="#header"><img
                    src="https://presskits.armorgames.com/game/in-stars-and-time/images/icon.png" alt="Logo" width="151"
                    height="165"></a>

            <div class="footer-line"></div>

            <div class="footer-contacts-box">
                <h3 class="footer-title">Follow us on</h3>

                <ul class="footer-contacts-list">
                    <li class="footer-contacts-item"><a class="footer-contacts-link" href="https://x.com/ISAT_game"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <svg width="24" height="24">
                                <use href="../image/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a></li>

                    <li class="footer-contacts-item"><a class="footer-contacts-link"
                            href="https://discord.com/invite/ZzFSRUBXEC" target="_blank"
                            rel="noreferrer noopener nofollow">
                            <svg width="24" height="24">
                                <use href="../image/symbol-defs.svg#icon-discord"></use>
                            </svg>
                        </a></li>

                    <li class="footer-contacts-item"><a class="footer-contacts-link"
                            href="https://armor-games-studios.itch.io/in-stars-and-time" target="_blank"
                            rel="noreferrer noopener nofollow">
                            <svg width="24" height="24">
                                <use href="../image/symbol-defs.svg#icon-armor"></use>
                            </svg>
                        </a></li>
                </ul>
            </div>
        </div>

        <span class="footer-text">© 2023 by insertdisc5. All Rights Reserved.</span>
    </footer>
    <script type="module" src="../ts/main.ts"></script>
</body>

</html>