@use "../utilities/functions" as fn;
@use "../utilities/placeholders";
@use "../utilities/mixins" as mx;

.btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  background: linear-gradient(
    90deg,
    fn.get-color(dark-gradient) 0%,
    fn.get-color(light-gradient) 100%
  );
  -webkit-box-shadow: 2px 1px 20px 0px rgba(135, 28, 28, 1);
  -moz-box-shadow: 2px 1px 20px 0px rgba(135, 28, 28, 1);
  box-shadow: 2px 1px 20px 0px rgba(135, 28, 28, 1);

  @extend %flex-center;

  &:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
  }
}

.mob-btn {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, -150%);
  fill: fn.get-color(light-primary);
  z-index: 3;
  flex-direction: column;
  gap: 4px;
}

.line {
  background-color: fn.get-color(light-primary);
  border-radius: 2px;
  height: 2.5px;
  left: 0;
  width: 50%;

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.top,
.bottom {
  transform-origin: center;
}

.mob-btn.active .top {
  transform: translateY(7px) translateY(-50%) rotate(-45deg);
}

.mob-btn.active .middle {
  opacity: 0;
}

.mob-btn.active .bottom {
  transform: translateY(-8px) translateY(70%) rotate(45deg);
}
