@use "../utilities/variables" as var;
@use "../utilities/mixins" as mx;

.logo-container {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  height: calc(var.$index * 25);

  @include mx.mq("wee") {
    margin-bottom: 20px;
  }

  @include mx.mq("wee") {
    height: calc(var.$index * 25);
  }

  @include mx.mq("sm") {
    height: calc(var.$index * 23);
    margin-bottom: 25px;
  }

  @include mx.mq("md") {
    height: calc(var.$index * 30);
    margin-bottom: 50px;
  }

  @include mx.mq("lg") {
    height: calc(var.$index * 35);
    margin-bottom: 30px;
  }
}

.logo {
  position: absolute;
  top: 35px;
  left: calc(var.$index * 1);

  width: calc(var.$index * 17);
  height: calc(var.$index * 20);

  @include mx.mq("wee") {
    width: calc(var.$index * 21);
    height: calc(var.$index * 21);
    left: calc(var.$index * 2);
  }

  @include mx.mq("sm") {
    width: calc(var.$index * 23);
    height: calc(var.$index * 23);
    top: 0;
    left: calc(var.$index * 4);
  }

  @include mx.mq("md") {
    width: calc(var.$index * 30);
    height: calc(var.$index * 30);
  }

  @include mx.mq("lg") {
    width: calc(var.$index * 35);
    height: calc(var.$index * 35);
  }
}
